
<p>
  <mat-toolbar style="background-color: #44A1A0; font-family: 'Concert One', sans-serif;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <a mat-button *ngFor="let option of options" [routerLink]="option.path" [class.separate-button]="option.title === 'Sesiones' || option.title === 'Perfil'"style="font-family: 'Concert One', sans-serif; font-size: {{ option.fontSize }}px;">{{ option.title }}</a>

  </mat-toolbar>
</p>
