<app-nav></app-nav>
<div class="container">
  <main class="services">
    <section class="general2">
      <div class="img1">
        <img src="https://github.com/SI729-2302-WX52-Grupo-4/LandingPage/blob/main/images/alumnos.jpeg?raw=true">
      </div>
      <div class="general-1">
        <h2>Estudia con nosotros</h2>
        <p>
          Si tienes problemas con algún curso o solo tienes interés
          en aprender temas nuevos, estás en el lugar indicado.
          Accede a miles de temas y profesores distintos.
          ¡Busca a quien mejor se adapte a ti y  empieza a aprender!
        </p>
      </div>
    </section>
    <section class="general2">
      <div class="general-2">
        <h2>Enseña a alguien más</h2>
        <p>
          Sé parte de nuestro equipo de profesores y  ofrece cursos
          de los temas que desees. Tú eliges tus precios y horarios.
          ¡Sé parte de esta comunidad online de maestros!
        </p>
      </div>
      <div class="img2">
        <img src="https://raw.githubusercontent.com/SI729-2302-WX52-Grupo-4/LandingPage/main/images/maestra.webp">
      </div>
    </section>
  </main>


  <main class="nosotros">
    <section class="nosotros-section">
      <div class="general3">
        <h2>Sobre nosotros</h2>
        <p> Somos Tutor'sMe, un startup fundada por un grupo de estudiantes de la Universidad Peruana de Ciencias Aplicadas (UPC). Nuestra misión es ofrecer oportunidades laborales a profesionales que están en búsqueda de una posición adecuada. A través de nuestra plataforma, conectamos a los profesores con las mejores ofertas educativas que se adapten a sus preferencias y habilidades, facilitando así su búsqueda de empleo de manera eficiente y efectiva.  </p>
      </div>
    </section>


    <section class="mision-section">

      <div class="aboutUs-1">
        <h3>Mision</h3>
        <p>
          La misión de Tutor'sMe es contribuir a combatir el desempleo en el país, conectando a profesores desempleados con oportunidades laborales acordes a sus capacidades y preferencias de trabajo.      </p>
      </div>
      <div class="aboutUs-1">
        <h3>Visión</h3>
        <p>
          La visión de Tutor'sMe es expandirse a nivel internacional, con el objetivo de llegar a más personas que necesiten empleo, al mismo tiempo que asistimos a las empresas en la búsqueda del talento adecuado según sus requisitos.
        </p>
      </div>

    </section>

    <div class="aboutUs-content">
      <div class="aboutUs-1">
        <img src="https://raw.githubusercontent.com/SI729-2302-WX52-Grupo-4/LandingPage/main/images/Alessandro.png">
      </div>
      <div class="aboutUs-2">
        <img src="https://raw.githubusercontent.com/SI729-2302-WX52-Grupo-4/LandingPage/main/images/Giakomo.png">
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

  </main>




</div>
