.example-card {
  max-width: 350px;
  border-radius: 15px
}

.cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  gap: 0px;
  justify-content: left;
  align-items: center;
  width: 80%;
  max-width: 10000px;
  margin: 0 auto;
  background-color: #44A1A0;
  border-radius: 20px;
}

.mat-icon{
  color: yellow;
}

.card {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;

}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-card-actions button {
  margin-right: 10px;
}

.spacer {
  height: 20px;
}

.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Concert One', sans-serif;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Concert One', sans-serif;
}



mat-grid-tile {
  background: #44A1A0;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.custom-grid-tile {
  width: 100px;
}
.mat-grid-tile .grid-item p {
  margin-bottom: 5px; /* Ajusta el valor según la separación deseada */
}
.container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.small-image {
  width: 200px !important; /* Establece el ancho deseado con !important */
  height: auto !important; /* Mantiene la relación de aspecto original con !important */
}

