<div class="spacer"></div>
<p class="titulo">Profesores</p>
<p class="subtitle">Tus docentes</p>

<div class="cards-container">
  <div *ngFor="let profesor of profesores" class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{profesor.name}}</mat-card-title>
        <mat-card-subtitle>Profesor de {{profesor.course}}</mat-card-subtitle>
      </mat-card-header>
      <p></p>
      <img [src]="profesor.image" alt="Image {{ profesor.id}}">
      <mat-card-content>
        <p></p>
        <p>{{profesor.description}}</p>
        <p> Rating: {{profesor.rating}} <mat-icon > star </mat-icon> </p>
        <p></p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Unlike <mat-icon style="color: black"> favorite </mat-icon> </button>
        <button mat-button>Class <mat-icon style="color: black"> class </mat-icon> </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

<div class="spacer"></div>

<p class="subtitle">Tus favoritos</p>

<div class="cards-container">
  <div *ngFor="let profesorFav of profesoresFav" class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{profesorFav.name}}</mat-card-title>
        <mat-card-subtitle>Profesor de {{profesorFav.course}}</mat-card-subtitle>
      </mat-card-header>
      <p></p>
      <img [src]="profesorFav.image" alt="Image {{ profesorFav.id}}">
      <mat-card-content>
        <p></p>
        <p>{{profesorFav.description}}</p>
        <p> Rating: {{profesorFav.rating}} <mat-icon > star </mat-icon> </p>
        <p></p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Like <mat-icon style="color: black"> favorite </mat-icon> </button>
        <button mat-button>Class <mat-icon style="color: black"> class </mat-icon> </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

<div class="spacer"></div>
