.example-card {
  max-width: 350px;
}
.cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  gap: 10px;
  justify-content: left;
  align-items: center;
  width: 80%;
  max-width: 10000px;
  margin: 0 auto;
  background-color: #44A1A0;
}

.mat-icon{
  color: yellow;
}

.card {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-card-actions button {
  margin: 0 10px;
}





mat-grid-tile {
  background: #44A1A0;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.custom-grid-tile {
  width: 100px;
}
.mat-grid-tile .grid-item p {
  margin-bottom: 5px; /* Ajusta el valor según la separación deseada */
}

.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Concert One', sans-serif; /* Utiliza 'Concert One' como nombre de la fuente */
}

.mat-card-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Concert One', sans-serif; /* Utiliza 'Concert One' como nombre de la fuente */
}

.container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}
.spacer {
  height: 20px; /* Ajusta el espacio horizontal entre los grid-lists */
}
.small-image {
  width: 200px !important; /* Establece el ancho deseado con !important */
  height: auto !important; /* Mantiene la relación de aspecto original con !important */
}


/*Buscador


 */

/* main.component.css */

/* Estilos para el contenedor principal del buscador */
.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Ajusta la altura según sea necesario */
  box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total */
  border-radius: 100px;
}

/* Estilos para el contenedor interno del buscador */
.search-container {
  text-align: center;
  max-width: 100px; /* Ajusta el ancho máximo según sea necesario */
  width: 10%; /* Asegura que el contenedor no sea más ancho que el viewport */
  padding: 0 15px; /* Agrega relleno a los lados según sea necesario */
  box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total */
}

/* Estilos para el campo de entrada de texto */
.search-bar input {
  padding: 10px;
  width: 500px; /* Ajusta el ancho según sea necesario */
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
  border-radius: 10px;
  border: 1px solid #ccc; /* Ajusta el grosor y color del contorno */
  outline: none; /* Elimina el contorno predeterminado de foco */
}

/* Estilo para el campo de entrada de texto cuando está enfocado */
.search-bar input:focus {
  border: 1px solid #44A1A0; /* Cambia el contorno al hacer clic */
}
/* Estilos para el botón de búsqueda */
.search-bar button {
  padding: 10px 20px;
  background-color: #44A1A0; /* Color principal de Google */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
}


