<div class="search-bar">
  <form action="buscar.php" method="GET">
    <div class="search-container">
      <input type="text" name="q" placeholder="Hoy aprenderé sobre...">
      <button type="submit">Buscar</button>
    </div>
  </form>
</div>
<div class="producto-container">
  <div *ngFor="let producto of productos" class="producto">
    <div class="producto-inner">
      <img [src]="producto.imagenUrl" alt="{{ producto.nombre }}">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
    </div> 
  </div>
</div>

